<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.res_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>

        <activity android:name=".MainActivity_Menu_before_login"/>

        <activity android:name=".MainActivity_Login"/>

        <activity android:name=".MainActivity_Menu_after_login"/>

        <activity android:name=".MainActivity_menu_grid"/>

        <activity android:name=".MainActivity_Join"/>

        <activity android:name=".MainActivity_Main_after_login"/>

        <activity android:name=".AdminPage"/>

        <activity android:name=".Member_Display"/>

        <activity android:name=".Reserve_Display"/>

    </application>

</manifest>